*{
    margin-left: 5px;
    margin-bottom: 5px;
}
table {
    border-collapse: collapse;
    width: 800px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: center;
}